<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body class="main">

    <div class="header">
        <img src="{{url_for('static',filename='./FCB.png')}}" class="titleImage"/>
        <h1 class="barca">BARCA</h1>
        <h1 class="gram">gram</h1>
        <a href="/home" class="links">Home page</a>
        <a href="/profile" class="links">Profile page</a>
        <a href="/signup" class="links">Sign up</a>
        <a href="/" class="links">Log in</a>
    </div>

    <div class="post-content">
        {% for post in posts %}
        <div class="post-container">
            <h2 class="postText">{{posts[post]['title']}}</h2>
            <img src="{{posts[post]['image']}}" class="postImage"/>
            <h4 class="postText">{{posts[post]['username']}}</h4>
        </div>
        {% endfor %}
    </div>
</body>
</html>
