<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body class="main">

    <div class="header">
        <img src="{{url_for('static',filename='./FCB.png')}}" class="titleImage"/>
        <h1 class="barca">BARCA</h1>
        <h1 class="gram">gram</h1>
        <a href="/home" class="links">Home page</a>
        <a href="/profile" class="links">Profile page</a>
        <a href="/signup" class="links">Sign up</a>
        <a href="/" class="links">Log in</a>
    </div>

    <div class="post-content">
        <div class="post-container">
            {% for i in info %}
            <h2 class="postText">{{info[i]}}</h2>
            <br>
            {% endfor %}
        </div>
    </div>

    <div>

        <form method="post" action="/profile">
            <h4>
                Create a post
            </h4>

            <div>
                <label>Title*</label>
                <div>
                    <input type="text"  name="title">
                </div>
            </div>

            <div>
                <label>Image url*</label>
                <div>
                    <input type="text"  name="image">
                </div>
            </div>
            
            <div>
                <label>Username*</label>
                <div>
                    <input type="text"  name="username">
                </div>
            </div>

            <div>
                <input type="submit"/>
            </div>
        </form>

    </div>
</body>
</html>